.left
{
    position: relative;
    float: left;
}

.right
{
    position: relative;
    float: right;
}

.list li
{
    list-style: none;
}

.menu li
{
    list-style: none;
    margin: 15px;
    font-family: "黑体";
    font-size: 18px;
    text-align: left;
}

    .menu li a
    {
        text-decoration: none;
    }
