@{
    ViewBag.Title = "Index";
}

<h2>即时聊天室</h2>
<div class="container">
    <br />
    <div>在线：<span id="clientlist">&nbsp;</span></div>
    <div style="height: 200px; width: 700px; margin-top: 20px; padding: 10px; border: solid 1px #ccc; overflow: auto;">
        <ul id="discussion">
        </ul>
    </div>
    <div>
        @{
            IMChat.Models.Users user = ViewBag.User as IMChat.Models.Users;
        }
        <div style="position: relative; float: left; margin-top: 40px;">
            <span>
                <a href="../Manager/UploadImageView">
                    <img src="../HeadImage/@user.UserId/@user.HeadImage" alt="修改头像" width="100" height="100" /></a></span>
            <br />
            昵称:
        @*<input type="text" id="displayname" style="width: 100px;" />*@
            <span id="displayname" style="font-weight: 700;">@User.Identity.Name</span>
        </div>
        &nbsp;信息:
        @*<input type="text" id="message" style="width: 200px;" />*@
        <textarea id="message" style="width: 300px; height: 150px">

        </textarea>
        &nbsp;<input type="button" id="sendmessage" value="发送" />
        <select id="toname">
            <option value="1">张三</option>
            <option value="2">李四</option>
            <option value="3">王五</option>
            <option value="4">赵六</option>
        </select>
        <input type="button" id="sendto" value="发送" />
        @*<input type="button" id="getclients" value="获取列表" />*@
    </div>
</div>
@section scripts {
    <script type="text/javascript" src="~/Scripts/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.signalR-2.0.0.js"></script>
    <script type="text/javascript" src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            init();
            //获取客户端代理
            var chat = $.connection.chatHub;
            chat.client.addMessage = function (name, message) {
                $('#discussion').append('<li><img src="../HeadImage/@user.UserId/@user.HeadImage" alt="修改头像" width="20" height="20" /><strong>' + name + '</strong>说：' + message + '</li>');
            }
            //一对一
            chat.client.addTo = function (name, message, sendname) {
                if (name == $('#displayname').html()) {
                    $('#discussion').append('<li>来自<img src="../HeadImage/@user.UserId/@user.HeadImage" alt="修改头像" width="20" height="20" /><strong>' + sendname + '</strong>的私有消息：' + message + '</li>');
                }
            }

            $('#sendmessage').click(function () {
                if ($('#message').val() == '') {
                    alert('消息不能为空');
                    return;
                }
                //调用服务器端方法
                chat.server.send($('#displayname').html(), $('#message').val());
            });
            $('#sendto').click(function () {
                if ($('#message').val() == '') {
                    alert('消息不能为空');
                    return;
                }
                chat.server.sendTo($('#toname :selected').html(), $('#message').val(), $('#displayname').html());
                $('#discussion').append('<li><strong>' + $('#displayname').html() + '</strong>发送私有消息给' + $('#toname :selected').html() + '说：' + $('#message').val() + '</li>');
            });
            //开始连接
            $.connection.hub.start();
        });

        function init() {

        }
    </script>
}
