<ol class="menu">
    <li>
        @Html.ActionLink("完善用户信息", "Info", "Manager")
    </li>
    <li>
        @Html.ActionLink("上传头像", "UploadImageView", "Manager")
    </li>
    <li>
        @Html.ActionLink("修改密码", "ChangePWDView", "Manager")
    </li>
    <li>
        @Html.ActionLink("彻底注销用户", "SignOffView", "Manager")
    </li>
</ol>
