@if (Request.IsAuthenticated)
{
    <text>
    你好，@Html.ActionLink(User.Identity.Name, "Manage", "Chat", routeValues: null, htmlAttributes: new { @class = "username", title = "管理" })!
        @using (Html.BeginForm("LogOff", "Chat", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">注销</a>
        }
    </text>
}
else
{
    <ul>
        <li>@Html.ActionLink("注册", "ToRegister", "Chat", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("登录", "Default", "Chat", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
