@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Scripts/Uploadify/uploadify.css" rel="stylesheet" />
</head>
<body>
    <div>
        <table style="width: 90%;">
            <tr>
                <td style="width: 100px;">
                    <input type="file" name="uploadify" id="uploadify" />
                </td>
                <td align="left">
                    <a href="javascript:$('#uploadify').uploadifyUpload()">开始上传</a>|  
            <a href="javascript:jQuery('#uploadify').uploadifyClearQueue()">取消上传</a>
                    <span id="result" style="font-size: 13px; color: red"></span>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/Uploadify/jquery.uploadify.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#uploadify").uploadify({
                'uploader': '../uploadify/uploadify.swf',
                'script': 'UploadPhotoServlet',
                'cancelImg': 'uploadify/cancel.png',
                'buttonImg': 'uploadify/buttonImg.png',
                'folder': '/jxdBlog/photos',
                'queueID': 'fileQueue',
                'auto': false,
                'multi': true,
                'wmode': 'transparent',
                'simUploadLimit': 999,
                'fileExt': '*.png;*.gif;*.jpg;*.bmp;*.jpeg',
                'fileDesc': '图片文件(*.png;*.gif;*.jpg;*.bmp;*.jpeg)',
                'onAllComplete': function (event, data) {
                    $('#result').html(data.filesUploaded + '个图片上传成功');
                }
            });
        });
    </script>
